doctype
head
  meta(charset="utf-8")
  title #{title}
  link(rel="stylesheet" href="/css/main.css" type="text/css")
  link(rel="stylesheet" href="/css/normalize.css" type="text/css")
  != partial("_shared/analytics")
body
  != partial("_shared/header")
  != yield